<div class="button">
    <!-- <form action="/auth" method="post" enctype="multipart/form-data"> -->
    <a href="/pivot" class="fa fa-facebok btn">PIVOT</a>    
</div>
  
  
<table id="customers">   
          <tr>
            <th>ID</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Total Price</th>
          </tr>

          <%data.forEach(function(n){ %>
          <tr>
            <td><%= n.id %></td>
            <td><%= n.fullname %></td>
            <td><%= n.email %></td>
            <td><%= n.item %></td>
            <td><%= n.quantity %></td>
            <td><%= n.total_price %></td>
          </tr>
          <% }) %>   
</table>
  